@import url("https://use.fontawesome.com/releases/v6.0.0/css/all.css");

body {
    padding: 20px 50px;
    background-color: rgb(251, 251, 251);
}

h2 {
    margin-bottom: 20px;
}

article {
    margin-bottom: 60px;
}

a {
    text-decoration: none;
}

.two button,
.three button,
.two a,
.three a {
    color: white;
    border: none;
    padding: 8px;
    background-color: black;
    border-radius: 24px;
    font-size: 15px;
    margin-right: 10px;
}

.one a,
.one button {
    color: black;
    border: 2px solid black;
    padding: 8px;
    border-radius: 24px;
    background-color: transparent;
    margin-right: 10px;
}

.one .hover:hover {
    border: solid 2px rgb(0, 102, 0);
    background-color: white;
    color: rgb(0, 102, 0);
    cursor: pointer;
}

.two .hover:hover,
.three .hover:hover {
    background-color: rgb(0, 102, 0);
    cursor: pointer;
}

.three {
    margin-right: 10px;
}

.three a,
.three button {
    padding: 8px 24px;
}

.three a i {
    margin-right: 6px;
}

.one .fill,
.two .fill
.three .fil {
            cursor: pointer;

}