@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css");

ul {
    display: flex;
}

li {
    list-style: none;
    margin: 30px 10px 0 0;
}

a {
    border-radius: 50%;
    border: 15px solid #EEEEEE;
    transition: 0.3s ease-in-out;
}

a:hover {
    border-radius: 30%;
    border: 15px solid #0A2C48;
}

